<h2>Velkommen til din butikk!</h2>
<%= link_to 'Forsiden', index_path %>
<%= link_to 'Kategorier', category_path %>
<%= link_to 'Produkt', product_path %>
<%= link_to 'Nettbutikk.no', root_url(:host => request.domain) %>